<div class="row">
  <div class="col-8">
    <div class="card">
    <div class="card-header bg-success ">
      <h6>Employee List</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12"></div>
           <table>
            <thead>
              <tr>
                <th>sl no</th>
                <th> name </th>
                <th>contact no</th>
                <th>email-id</th>
              </tr>
            </thead>
            <tbody>


            </tbody>
           </table>
      </div>
    </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-sucess">
        New Employee
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="">name</label>
            <input type="text" class="form-control">
          </div>
           <div class="col-6">
            <label for="">emailid</label>
            <input type="text" class="form-control">
          </div>
           <div class="col-6">
            <label for="">contactno</label>
            <input type="text" class="form-control">
          </div>
           <div class="col-6">
            <label for="">state</label>
            <input type="text" class="form-control">
          </div>
           <div class="col-6">
            <label for="">city</label>
            <input type="text" class="form-control">
          </div>
           <div class="col-6">
            <label for="">pincode</label>
            <textarea class="form-control"></textarea>
          </div>
           <div class="col-6">
            <label for="">address</label>
            <textarea class="form-control"></textarea>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">reset</button>
            </div>
            <div class="col-6 text-center">
            <button class="btn btn-secondary">save Employee</button>
            
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>